<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      transition="dialog-bottom-transition"
      max-width="600"
    >
      <v-card>
        <v-toolbar color="primary" dark>
          <v-card-title class="headline pa-12">
            {{ $t("editTodo") }}
          </v-card-title></v-toolbar
        >
        <div>
          <v-card-text>
            <v-text-field
              ref="form"
              :rules="rules"
              v-model="todo.title"
              :label="$t('title')"
              outlined
            >
            </v-text-field>
          </v-card-text>
        </div>
        <v-card-actions>
          <v-btn
            color="blue-grey"
            class="ma-2 white--text"
            depressed
            @click="cancel"
          >
            {{ $t("cancel") }}
          </v-btn>
          <v-btn color="success" depressed @click="save(todo.id)">
            {{ $t("save") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  name: "Dialog",
  props: {
    dialog: {
      type: Boolean,
    },
    todo: {
      type: Object,
    },
  },
  data() {
    return {
      rules: [
        (value) => !!value || `${this.$t("thisFieldIsRequired")}`,
        (value) =>
          (value && value.length >= 3) || `${this.$t("minCharaters3")}`,
        (value) =>
          (value && value.length <= 50) || `${this.$t("maxCharaters50")}`,
      ],
      titleOrginal: this.todo.title,
    };
  },
  methods: {
    cancel() {
      this.$emit("cancel", this.todo.id, this.titleOrginal);
    },
    save(id) {
      this.$refs.form.validate();
      if (this.$refs.form.validate()) {
        this.$emit("save", id, this.todo.title);
      }
    },
  },
};
</script>

<style scoped>
.v-btn {
  letter-spacing: inherit;
}
</style>
