<template>
  <div>
    <v-container>
      <v-row dense v-for="(item, index) in todoList" :key="item.index">
        <v-col cols="12" md="12">
          <v-alert
            outlined
            :color="
              index >= colors.length
                ? ((id = index % colors.length), colors[id])
                : colors[index]
            "
            prominent
            border="left"
            :type="item.completed ? 'success' : undefined"
          >
            <span :class="item.completed ? 'completed' : ''">
              {{ index + 1 }} - {{ item.title }}
            </span>
            <!-- <v-btn-toggle dense group> -->
            <div class="d-flex justify-space-between">
              <v-btn
                small
                class="ml-2"
                color="success"
                @click="completed(item.id)"
              >
                <v-icon>mdi-check-bold</v-icon>
              </v-btn>
              <v-btn small class="ml-2" @click="editTodo(item.id)">
                <v-icon>mdi-square-edit-outline</v-icon>
              </v-btn>
              <v-btn small color="error" @click="removed(index)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </div>
            <!-- </v-btn-toggle> -->
          </v-alert>
          <Dialog
            v-if="item.edited"
            :dialog="dialog"
            :todo="item"
            @cancel="cancel"
            @save="save"
          />
        </v-col>
      </v-row>
      <template>
        <v-simple-table>
          <template v-slot:default>
            <tbody>
              <tr>
                <td>تعداد کارها</td>
                <td>{{ countTask }}</td>
              </tr>
              <tr>
                <td>تعداد کارهای تکمیل شده</td>
                <td>{{ completeTask }}</td>
              </tr>
              <tr>
                <td>تعداد کارهای تکمیل نشده</td>
                <td>{{ incompleteTask }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </template>
    </v-container>
    <div class="d-flex  justify-center">
      <v-btn @click="removeCompleted" depressed color="error" class="mb-6">
        {{ $t("remove") }}
      </v-btn>
    </div>
  </div>
</template>

<script>
import Dialog from "./Dialog";

export default {
  name: "ListTodo",

  props: {
    todoList: {
      type: Array,
    },
  },
  components: {
    Dialog,
  },
  data() {
    return {
      colors: [
        "#1E88E5",
        "#8E24AA",
        "#D81B60",
        "#00897B",
        "#3949AB",
        "#FFB300",
        "#6D4C41",
      ],
      dialog: false,
    };
  },

  methods: {
    completed(value) {
      this.$emit("todoId", value);
    },
    removed(value) {
      this.$emit("todoIdRemove", value);
    },
    removeCompleted() {
      this.$emit("removeCompleted", true);
    },

    editTodo(value) {
      const result = this.todoList.find((task) => task.id === value);
      result.edited = true;
      this.dialog = true;
    },
    cancel(id, value) {
      const result = this.todoList.find((task) => task.id === id);
      this.dialog = false;
      result.edited = false;
      result.title = value;
    },
    save(id, value) {
      const result = this.todoList.find((task) => task.id === id);
      result.title = value;
      result.edited = false;
      this.dialog = false;
    },
  },
  computed: {
    countTask() {
      return this.todoList.length;
    },
    incompleteTask() {
      const counter = this.todoList.filter((task) => task.completed === false);
      return counter.length;
    },
    completeTask() {
      const counter = this.todoList.filter((task) => task.completed === true);
      return counter.length;
    },
  },
};
</script>

<style>
.active .headline {
  text-decoration-line: line-through;
}
.active.v-card {
  background-color: #00c853 !important;
}
.v-btn,
.v-tab {
  letter-spacing: inherit;
}
.v-alert__content,
.v-alert__wrapper,
.v-alert__content {
  display: flex !important;
  justify-content: space-between !important;
}

.completed {
  text-decoration: line-through;
}
</style>
