<template>
  <v-row justify="center" class="mt-6">
    <v-col sm="8" md="6" lg="4">
      <v-card>
        <!-- <v-card-actions v-card-text class="primary"> -->
        <v-card-title class="primary white--text pa-2">
          <span>
            {{ $t("todo") }}
          </span>
        </v-card-title>
        <!-- </v-card-actions> -->
        <AddTodo @newTodo="newTodo" />
        <ListTodo
          :todoList="todo"
          @todoId="completed"
          @todoIdRemove="removed"
          @removeCompleted="removeCompleted"
        />
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import AddTodo from "./add/AddTodo";
import ListTodo from "./list/ListTodo";

export default {
  name: "Home",
  components: {
    AddTodo,
    ListTodo,
  },
  data() {
    return {
      todo: [],
    };
  },
  methods: {
    newTodo(value, id) {
      this.todo.push({
        id: id,
        title: value,
        completed: false,
        edited: false,
      });
    },
    completed(value) {
      const result = this.todo.find((task) => task.id === value);
      result.completed = true;
    },
    removed(value) {
      this.todo.splice(value, 1);
    },
    removeCompleted() {
      this.todo = this.todo.filter((task) => task.completed === false);
    },
  },
};
</script>

<style scoped></style>
