<template>
  <v-row justify="center">
    <v-col cols="12" md="8">
      <v-card-text>
        <v-text-field
          ref="form"
          :label="$t('title')"
          v-model="title"
          @keydown.enter="addTodo"
          required
          :rules="rules"
          clearable
          counter="50"
          :append-icon="'mdi-plus-box'"
          @click:append="addTodo"
          outlined
        >
        </v-text-field>
      </v-card-text>
    </v-col>
  </v-row>
</template>
<script>
import { uuid } from "vue-uuid";

export default {
  name: "AddTodo",
  data() {
    return {
      rules: [
        (value) => !!value || `${this.$t("thisFieldIsRequired")}`,
        (value) =>
          (value && value.length >= 3) || `${this.$t("minCharaters3")}`,
        (value) =>
          (value && value.length <= 50) || `${this.$t("maxCharaters50")}`,
      ],
      title: "",
    };
  },
  methods: {
    addTodo() {
      this.$refs.form.validate();
      if (this.$refs.form.validate()) {
        this.$emit("newTodo", this.title, uuid.v1());
        this.title = "";
      }
    },
  },
};
</script>

<style scoped>
.v-btn {
  letter-spacing: inherit;
}
</style>
